body
{	background-color: rgb(51,51,51);
	padding-left: 150px;
	padding-top: 30px;
}

h1 
{ 
  	font-size: 50px; 
  	color: rgb(220,129,0);
}

body 
{   font: 20px Helvetica, sans-serif; 
	color: rgb(221,221,221); 
}
  
  a { color: rgb(220,129,0); text-decoration: none; }
  a:hover { color: rgb(221,221,221); text-decoration: none; }
.dl-but
{
	box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.5);
	height: 50px;
	transition: 0.5s;
	width:300px;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgb(51,51,51);
	border-color: rgb(221,221,221);
}
.dl-but:hover
{
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	transition: 0.5s;
	height: 50px;
	width:310px;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgb(51,51,51);
	border-color: rgb(221,221,221);
}
.view-but
{
	box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.5);
	height: 50px;
	transition: 0.5s;
	width:300px;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgb(51,51,51);
	border-color: rgb(221,221,221);
}
.clone
{
	padding-left:50px;
	color: rgb(220,129,0);
}
.codepree
{
	border-radius: 5px;
	color: rgb(205,205,205);
	height: 60px;
	width: 300px;
}
.codepre
{
	border-radius: 5px;
	color: rgb(205,205,205);
	height: 60px;
	width: 685px;
}
.precode
{
	padding-left: 0px;
	font-size: 20px;
	color: grey;
}
.or
{
	padding-left: 200px;
}
.view-but:hover
{
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	transition: 0.5s;
	height: 50px;
	width:310px;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgb(51,51,51);
	border-color: rgb(221,221,221);
